.bita {
	animation: myframes 2s cubic-bezier(0.18, 0.89, 0.32, 1.28) 1s;
	animation-fill-mode: forwards;
	opacity:0;
}
.button1 {
  border-width:0px;
  padding: 10px 20px;
  border-radius: 3px;
  background: #FF6F00;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  cursor: pointer;
}
.button1:hover {
	background: #e66400;
}
@keyframes myframes {
	0% {opacity: 0; transform: rotateX(-90deg); translateY(30px); }
	100% {opacity: 1; transform: rotateX(0deg); translateY(30px);}
	
}
